.item-add-container {
  background-color: rgba(185, 128, 185, 0.672);
  padding: 40px 0;
}
.item-add-container h2 {
  font-weight: 800;
  color: black;
  font-family: serif;
}
.Items-addition form {
  display: flex;
  flex-direction: column;
}
.Items-addition input,
textarea {
  width: 50%;
  margin: auto;
  margin-top: 15px;
  border: 2px solid rgb(184, 96, 125);
  box-shadow: 2px 4px 1px rgb(156, 153, 153);
  border-radius: 15px;
  padding-left: 10px;
}
