.item-container {
  border: black 2px solid;
}

.item-des {
  text-align: justify;
}

.item-footer {
  background-color: rgb(213, 201, 201);
}
.item-footer button {
  margin-left: 10px;
}
.item-footer button {
  padding: 5px 14px;
  background-color: black;
  color: whitesmoke;
}
.item-cost {
  color: rgb(66, 6, 21) !important;
  font-weight: 700;
  font-size: 25px;
}
