.place-item {
  font-weight: 700;
  font-size: 35px;
  font-family: monospace;
  color: rgb(16, 96, 128);
  margin-top: 15px;
  text-transform: uppercase;
}
.place-form-price {
  background-image: linear-gradient(rgb(222, 224, 228), rgb(135, 139, 255));
  /* background-color: rgb(157, 224, 248); */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.place-form-price p {
  margin-top: 11px;
  color: rgb(15, 14, 118);
  font-weight: 700;
  font-size: 22px;
}

.placeorder-form-form {
  margin: 30px 100px;
}
.form-container {
  background-color: rgb(204, 208, 226);
}
.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.placeorder-form input {
  display: block;
  margin-top: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 20px !important;

  width: 300px;
  border-radius: 5px;
}
.form-place-btn {
  /* background-color: rgb(3, 0, 1); */
  background-image: linear-gradient(rgb(222, 224, 228), rgb(135, 139, 255));
  color: rgb(21, 12, 100);
  font-size: large;
  font-weight: 700;
  border: 2px solid rgb(37, 77, 110) !important;
  box-shadow: 2px 3px gray;
}
